//@import "stylesheets/_variables";
//@import "stylesheets/common";
@import "stylesheets/_variables_new";
$gutter-width: 1.6rem;

#confirm-dialog {
  color: $font-color-primary;
  z-index: 1040;

  .popup-content {
    max-width: 33.0rem;
    //    background-color: $bg-primary !important;
    border: 0 !important;
    padding: $gutter-width !important;

    header {
      margin-bottom: 1.7rem;
      font-size: $font-size-normal;
      font-weight: 500;
      color: $font-color-primary;
    }
    .close-dialog {
      position: absolute;
      right: 1.6rem;
      top: 1.6rem;
      cursor: pointer;
    }
    p {
      margin: 0;
      font-size: $font-size-normal;
      font-weight: normal;
      color: $font-color-secondary;
    }

    .btn-container {
      margin-top: 3.7rem;

      button {
        width: 100%;
        //margin-left: 1.6rem;
        padding: 0.6rem 2rem;
        font-size: $font-size-normal;
        line-height: 1.6rem;
        font-weight: 500;
        min-height: 3.2rem;
        box-sizing: border-box;
      }
    }
  }
}