/*********************************************---Colors---*********************************************/
$white: #ffffff;
$black: #000000;
$grey: (
  '5': #b4b5c1,
  '10': #a8abb3,
  '15': #53555f,
  //  "20": #4E4B58,
    '25': #4c4e5c,
  '30': #34353f,
  //top bar, $bottom-cta
    '35': #2a2a32,
  //tabs
    '40': #292a32,
  //highlight in radio
    '45': #16181d,
  //bg-color
    '50': rgba(0, 0, 0, 0.8),
  // overlay,
  '55': rgba(0, 0, 0, 0.4),
  // disabled,
  '60': rgba(255, 255, 255, 0.8),
  '65': #eeeeee // hover-color for white button
);

$yellow: (
  '5': #fffccc,
  '10': #ffd175,
  //font admin message
    '15': #f2ae01,
  '20': #ffaa00,
  //border admin messages
    '25': #ffa856,
  '30': #ffa43a,
  '35': #ff8c57,
  '40': #db790b,
  //today label
    '45': #ff8001,
  '50': #ff6154
);
$brown: (
  '5': rgba(255, 199, 0, 0.2),
  '10': rgba(255, 140, 5, 0.2)
);
$green: (
  '5': #4cc706,
  //ratings details
    '10': #359400,
  '15': rgba(53, 147, 0, 0.3),
  '20': #182314,
  '25': #00b900
);
$red: (
  '5': #da5051,
  '10': #f45656,
  '15': #f74040,
  '20': #fa323d,
  '25': #390a0a
);
$blue: (
  '5': #7289da,
  '10': #383eac,
  '13': #335efb,
  '15': #426bff,
  '20': #0075ff,
  '25': #07b2f2,
  '30': #00acee,
  '35': #0099cc,
  '40': #044099,
  '45': #677bc4,
  '50': #1a91da,
  '55': #3b5998,
  '60': #4285f4
);

/*********************************************---Sizes---*********************************************/

$size: (
  '0': 0.8rem,
  '2': 1rem,
  '4': 1.2rem,
  '6': 1.4rem,
  '8': 1.6rem,
  '10': 1.8rem,
  '12': 2rem,
  '14': 2.2rem,
  '16': 2.4rem,
  '18': 2.6rem,
  '20': 2.8rem,
  '22': 3rem,
  '24': 3.2rem,
  '26': 3.4rem,
  '28': 3.6rem
);

$gold: map_get($yellow, '20');
$silver: $white;
$bronze: #e0bb95;
$iron: #d0c6bb;
