@import "styles/variables";
@import "styles/mixins";

.home {
  @include fullWidthHeight;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;

  .files {
    text-align: right;
  }
  .button-container {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: app-logo-float infinite 3s ease-in-out;
    }
  }
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
